# Logs and databases #
######################
*.log

# Ansible retry files #
#######################
*.retry

# Dependency directories #
##########################
node_modules/
jspm_packages/

#  Vagrant files #
##################
.vagrant

# Istanbul code coverage #
##########################
.nyc_output/
