.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  color:inherit
}
h4{
  font-size:20px
}
h1,h2,h3,h4,h5,h6{
  font-family:"Segoe UI",Arial,sans-serif;
  font-weight:400;
  margin:10px 0
}


.w3-top,
.w3-bottom {
  /* Forces class to position relative to browser */
  position: fixed;
  width: 100%;
  z-index: 1
}

.w3-top {
  /* Forces to top of browser */
  top: 0
}

.w3-bottom {
  bottom: 0
}

.w3-button:hover {
  color: #000!important;
  background-color: #ccc!important
}

@media (max-width:600px) {
  .w3-button {
    width: 100%
  }
  .w3-hide-small {
    display: none!important
  }
}

.w3-theme {
  color: #fff !important;
  background-color: #000000 !important
}

.w3-large {
  font-size: 18px!important
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-theme-l1 {
  color: #fff !important;
  background-color: #333333 !important
}
.w3-theme-l5 {
  color:#000 !important; 
  background-color:#f0f0f0 !important
}

.w3-left-align {
  text-align: left!important
}

.w3-sidebar{
  height:100%;
  top:43px;
  width:200px;
  background-color:#fff;
  position:fixed!important;
  z-index:1;
  overflow:auto
}
@media (min-width:993px){
  .w3-modal-content{
    width:900px
  }
  .w3-hide-large{
    display:none!important
  }
  .w3-sidebar.w3-collapse{
    display:block!important
  }
}
@media (max-width:992px){
  .w3-sidebar.w3-collapse{
    display:none
  }
  .w3-main{
    margin-left:0!important;
    margin-right:0!important
  }
}
.w3-bar-block .w3-bar-item{
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
  outline:0
}
.w3-animate-left{
  position:relative;
  animation:animateleft 0.4s
}
@keyframes animateleft{
  from {
    left:-300px;
    opacity:0
  } to {
    left:0;
    opacity:1
  }
}
.w3-right{
  float:right!important
}
.w3-xlarge{
  font-size:24px!important
}
.w3-padding-large{
  padding:12px 24px!important
}
.w3-hover-black:hover{
  color:#fff!important;
  background-color:#000!important
}
.fa-remove:before,.fa-close:before,.fa-times:before{
  content:"\2613"
}
.fa-bars:before{
  content:"\2630"
}
.fa{
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.w3-hover-white:hover{
  color:#000!important;
  background-color:#fff!important
}
.w3-main,#main{
  transition:margin-left .4s
}
.w3-bar{
  width:100%;
  overflow:hidden
}
.w3-bar .w3-button{
  white-space:normal
}
.w3-bar:before,.w3-bar:after{
  content:"";
  display:table;
  clear:both
}

